$color-blue-700: #34547a;
$color-surface-primary: #eeeff1;
$color-surface-secondary: #34547a;

$color-text-primary: #000000;
$color-text-secondary: #727272;
$color-text-tertiary: #ffffff;
$color-text-accent: #34547a;

$container: 1100px;
$narrow: 540px;

$font-family: 'Roboto', Arial, sans-serif;
